[Unit]
Description=service to get prices of ETHEREUM token to Hermez Network

[Service]
Type=simple
Restart=always
RestartSec=5
KillMode=process
ExecStart=/home/ubuntu/price-updater-service/priceupdater server
WorkingDirectory=/home/ubuntu/price-updater-service/
StandardOutput=append:/var/log/price-updater.log
StandardError=append:/var/log/price-updater.log

[Install]
WantedBy=multi-user.target
